@import '../../../../assets/scss/variables';

.introductionPhoto {
    float: left;

    height: 100%;
    margin-left: -7rem;
    margin-right: 4rem;
    opacity: .6;
    shape-outside: polygon(0 0, 100% 0, 65% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);

    @media only screen and (max-width: 1000px) and (min-width: $bp-medium-small) {
        display: none;
    }
}