$bp-medium: 56.25em; //900px
$bp-medium-small: 48.5em; //776px
$bp-phone: 40.625em; //650px


//colors

$color-white: #fff;
$color-menu-background: black;
$color-primary: #AA4586;
$color-primary-hover: #d392bc;