$bp-medium: 56.25em; //900px
$bp-medium-small: 48.5em; //776px
$bp-phone: 40.625em; //650px 40.625em


//colors

$color-white: #fff;
$color-black: #000;
$color-light-grey: rgb(245, 245, 245);
$color-dark-grey: rgb(173, 173, 173);
$color-menu-background: black;
$color-primary: #AA4586;
$color-primary-hover: #d392bc;
$color-primary-darker: #6d2f57;