@import '../../../assets/scss/variables.scss';

.MenuItem {
    list-style: none;
    height: 5rem;
    margin-top: 1rem;
    padding: .5rem;

    display: flex;
    justify-content: center;

    &__svg {
        height: 4rem;
        width: 4rem;
        padding-top: 1rem;
        fill: currentColor;
        position: relative;
        z-index: 1000;
    }

    &__link {
        width: 120%;
        height: 5rem;
        position: relative;

        display: flex;
        justify-content: space-around;
        align-content: center;

        &:link,
        &:visited {
            color: white;
            text-decoration: none;
        } 

        &:hover .MenuItem__desc {
            display: inline-block;
            animation-name: descEnter;
            animation-duration: 1.1s;
            animation-fill-mode: forwards;
        }

        @keyframes descEnter {
            0% {
                opacity: 0;
                top: 1.1rem;
                left: 0;
            }
            100% {
                opacity: 1;
                top: 1.1rem;
                left: 7rem;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -3rem;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .3s, width .4s .3s;
        }
    
        &:hover::before {
            transform: scaleY(1);
            width: 450%;
        }

    }

    &__desc {
        font-size: 1.75rem;
        width: 8rem;
        z-index: 1000;
        display: none;
        position: absolute;
        top: 1.1rem;
        left: 7rem;
        opacity: 0;
    }

    &__wrap {
        height: 5rem;
        padding-right: 1.3rem;
        position: relative;
    }
}

@media only screen and (max-width: $bp-medium) {
    .MenuItem {
        width: 10rem;
        padding: 0;
        margin-right: 3rem;
    
        &__svg {
            height: 100%;
            width: 100%;
            margin-left: 0.2rem;
            fill: var(--color-primary);
        }
    
        &__link {
            width: 4rem;

            flex-direction: column;
            align-content: center;
            
            &:hover .MenuItem__desc {
                animation-name: none !important;
                animation-duration: none !important;
                animation-fill-mode: none !important;
                color: $color-primary-hover;
            }

            &:hover .MenuItem__svg {
                fill: $color-primary-hover;
            }

            &::before {
                content: none !important;
            }
        }
    
        &__desc {
            font-size: 1rem;
            top: 5.3rem;
            left: -0.3rem;
            display: inline-block;
            position: none;
            opacity: 1;
            width: 5rem;
            text-align: center;
        }

        &__wrap {
            padding-right: 0;
        }
    }
}