@import '../../../../assets/scss/variables';

.hobbyItem {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    align-content: center;
    color: $color-primary;

    &__svg {
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
    }

    &__label {
        width: 60%;
        margin-top: 0.5rem;
        font-size: 1.3rem;
        text-align: center;
    }
}