@import '../../../assets/scss/variables';

.displayTags {
    width: 100%;

    &__mainLabel {
        font-size: 2rem;
        color: $color-primary;
        margin: 2rem;
        margin-left: 3rem;
    }

    &__tagsContainer {
        margin: 2rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}