@import '../../../assets/scss/variables';
@import '../../../assets/scss/animations'; 

.stackItem {
   width: 100%;
   height: 100%;
   overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;

   animation-name: bounceEnter;
   animation-duration: .5s;

   &:hover .stackItem__img {
      animation-name: leftToRight;
      animation-duration: 1.2s;
      animation-direction: alternate;
   }

   &__img {
      height: 120px;
   }
}