@import '../../../../assets/scss/variables.scss';

.MobileMenuButton {
    &,
    &::before,
    &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-white;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;

    }

    &::before { top: -1rem; }

    &::after { top: 2rem; }
}